// Vendor
@import '~grommet/grommet.min.css';

// Views
@import './style/landing.scss';
@import './style/edit-recipe.scss';

// Components
@import './style/recipe-list.scss';
@import './style/button.scss';

// General
body {
  font-family: sans-serif;
}

html, body, #root, .app {
  margin: 0;
  padding: 0;
  height: 100%;
}
